# Dependencies
node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js
/client/.next/
/client/out/
/.next/
/out/

# Strapi
/server/.cache
/server/.tmp
/server/build
/server/public/uploads/*
!/server/public/uploads/.gitkeep
.strapi-updater.json
exports

# Production
/build
/dist

# Misc
.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*~

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*
!.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# IDE-specific files
.idea
.vscode
nbproject

# Testing
/coverage
lib-cov
lcov.info

# Logs and databases
*.log
*.sql
*.sqlite
*.sqlite3
logs
pids
results
.tmp

# Packages
*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid

# Misc
*#
ssl
license.txt
.node_history